*,
*::after,
*::before {
    outline: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 95vh;
    background: #2f87d8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    flex: 1;
}

footer {
    text-align: center;
    font-weight: 100;
    color: #ccc;
}

h1 {
    color: #f9f9f9;
    text-align: center;
}

#input {
    padding: 0.5rem 0.4rem;
    font-size: 1rem;
    flex: 1;
    border: none;
    color: #999;
    width: 100%;
}

#btn {
    font-size: 1rem;
    background: dodgerblue;
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    padding: 1rem 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.2s;
}

#btn:hover {
    border-left: 1px solid dodgerblue;
    background: #fff;
    color: dodgerblue;
}

.con {
    display: flex;
    border: 1px solid #fff;
}

.result {
    background: #fff;
    color: #959595;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}

.result__com {
    color: dodgerblue;
    text-align: left;
    font-size: 1rem;
}